.about{
    position: fixed;
    text-align: center;
    padding:10px;
    width: 70%;
    margin-top:160px;
    margin-left: 200px;
    border: 1px solid white;
}
h2{
    width: 40%;
    color: white;
    margin: auto;
}
.textoAbout{
    padding: 5px;
    font-weight: 700;
    color: rgb(223, 217, 217);
}