
.board{
    display: flex;
    justify-content: space-between;
    width:300px;
    margin: auto;
}
p{
  font-size: 2rem;
}

button{
    color: aqua;
   
}
button.cell{
    background-color: white;
    width: 100px;
    height: 100px;
    padding: 10px;
    display: block;
    border: 1px solid green;
}