
.board{
    display: flex;
    justify-content: space-between;
    width:300px;
    margin: auto;
}

.caja > .texto{
  position:absolute;
  width: 20%;
  color: white;
  font-size: 2rem;
  margin-left:200px;
  margin-top: 50px;
  /* border: 1px solid red; */
} 
.caja > .texto2{
  position:absolute;
  width: 30%;
  color: white;
  font-size: 2rem;
  margin-left:800px;
  margin-top: 50px;
}
.texto > p, .texto2 > p{
  font-size: 2rem;
  color: white;
}

button.cell{ 
    background-color: white;
    width: 100px;
    height: 100px;
    padding: 10px; 
    display: block;
    border: 1px solid green;
}
.partida{
  width: 20%;
  text-align: center;
  align-items: center;
  justify-content: center; 
  margin: auto;
  margin-left: 57%;
  /* border: 1px solid white; */
}