.caja{
    width: 80%;
    height: 100vh;
    margin: auto; 
    border: 1px solid red;
}
.board{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    width:300px;
    /* height: 50vh; */
    margin: auto;
}
p{
  font-size: 2rem;
}

button{
    color: aqua;
   
}
button.cell{
    width: 100px;
    height: 100px;
    padding: 10px;
    display: block;
    border: 1px solid green;
}