h1{
    margin: auto;
    width: 40%;
    text-align: center;
    font-size: 4rem;
    color: white;
    padding: 10px;
    /* border: 1px solid white; */
}

nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    width: 100%;
    height:60vh;
    /* border: 1px solid blue; */
}
nav > ul{ 
    width: 70%;
    height: 60vh;
    margin: auto;
    margin-top:80px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-around;
    /* border: 1px solid yellow; */
}
nav > ul > li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    /* justify-content: space-between; */
    width: 150px;
    height:150px;
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(196, 188, 188);
    /* border: 1px solid red; */
}
nav>ul>li>a{
    width: 100%;
    cursor: pointer;
    text-decoration: none;
    /* border: 1px solid white; */
}
.card{
    margin-top: 0px;   
    margin-left:20px;
 width: 110px;
 height: 110px; 
 /* border: 1px solid violet; */
}
.card img{
    width: 100%;
    height: 100%;
}
.home{
    margin-top: 0px;
    font-weight: bold;
    text-align: center;
    font-size: 1rem;
    color: black;
}
/* footer{
    margin-top:150px;
    height: 50px;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    color: white;
    font-weight: bold;
    /* border: 1px solid white; */
