@media(min-width: 769px) and (max-width: 1500px){
.cajaHome{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 0px;
    /* border: 1px solid yellow;  */
}
.cajaHome .cajaH1{
    width: 80%;
    margin: auto;
    /* border: 1px solid yellow; */
}
h1{
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    font-size: 8rem;
    color: rgb(143, 240, 232);
    font-family:'Courier New', Courier, monospace;
    padding: 0px;
    margin-top: 50px;
    text-shadow: 4px 4px 50px rgba(17, 0, 255, 0.808);
    word-spacing: -40px;
    /* border: 1px solid red; */
}
}
/**********************************************************************************************************************/
/***********************************************MOBILE****************************************************************/
/**********************************************************************************************************************/
@media(min-width: 320px) and (max-width: 768px){
    .cajaHome{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 0px;
        /* border: 1px solid yellow;  */
    }
    .cajaHome .cajaH1{
        width: 100%;
        margin: auto;
        /* border: 1px solid yellow; */
    }
    h1{
        width: 100%;
        flex-wrap: wrap;
        margin: auto;
        text-align: center;
        font-size: 4.4rem;
        color: rgb(143, 240, 232);
        font-family:'Courier New', Courier, monospace;
        padding: 0px;
        margin-top: 40px;
        text-shadow:4px 4px 50px rgba(17, 0, 255, 0.808); 
        word-spacing: -30px;
}
    }
