h1{
    text-align: center;
}
nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid white;
}
nav > ul{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-between;
    border: 1px solid yellow;
}
nav > ul > li{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: space-between;
    border: 1px solid red;
}
