@media(min-width: 769px) and (max-width: 1500px){

    .footer {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      margin:auto;
      margin-top: 150px;
      padding: 20px;
      /* border: 1px solid blue; */
      }
    .footer a{
      width: fit-content;
      margin: auto;
      padding: 10px;
      /* border: 1px solid red; */
    }
      .footer > a p{
        display: flex;
        font-size: 1rem;
        font-weight: bold;
        margin: auto;
        margin-top: 7px;
        justify-content: center;
        /* border: 1px solid yellow; */
      }
    }
    
    /*****MOBILE***********/
    @media(min-width: 320px) and (max-width: 768px){
      .footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin:auto;
        margin-top: 150px;
        padding: 20px;
        /* border: 1px solid blue; */
        }
      .footer a{
        width: fit-content;
        margin: auto;
        padding: 10px;
        /* border: 1px solid red; */
      }
        .footer > a p{
          display: flex;
          font-size: 0.9rem;
          font-weight: bold;
          margin: auto;
          margin-top: 7px;
          justify-content: center;
          /* border: 1px solid yellow; */
        }
      }
    