@media(min-width:769px) and (max-width:1500px){
.cajaSudoku{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 150vh;
    padding-bottom:50px;
    /* border: 1px solid red; */
}    
.cajaSudoku h1{
    width: fit-content;
    display: flex;
    margin-top: 50px;
    /* border: 1px solid yellow; */
}
.sudoku-board{
    margin: auto;  
    flex-direction: column;
    margin-top: 30px;
    width: 380px;
    height: 400px;
    /* border: 1px solid red; */
}

.celda{
    background-color: white;
    text-align: center;
    width:30px;
    padding-left: 8px;
    border:1px solid rgb(226, 76, 240);
} 
.botones{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: fit-content;
    margin: auto;
    margin-top:0px;
    padding: 10px;
    gap: 5px;
    /* border: 1px solid red; */
}
.textoSudoku{
  display: flex;
  text-align: center;
  width:fit-content;
  height: 150px;
  color: white;
  font-size: 1.5rem;
  padding: 10px;
  margin: auto;
  margin-top: 40px;
  background-color: black;
  border: 1px solid white; 
}
.cajaSudoku .miButton{ 
    display: flex;
    text-align: center;
    width:fit-content;
    margin-left:70px;
    margin-top:30px;
    padding: 15px;
    background-color: #3498db; /* Color de fondo azul */
    color: #fff; /* Color del texto blanco */
    border: none;
    border-radius: 10px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      background-color: #2a485c; /* Color de fondo azul más oscuro al pasar el mouse */
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave al pasar el mouse */
    }
  
    &:active {
      transform: translateY(2px); /* Efecto de hundimiento al hacer clic */
    }
  
    &:focus {
      outline: none; /* Elimina el contorno al hacer clic */
    }
    /* border: 1px solid green; */
  }
}
/*****MOBILE******/
@media(min-width:320px) and (max-width:768px){
    .sudoku-board{
        margin: auto;
        width: 280px;
        height: 230px;
        padding: 5px;
        background-color: white;
        /* border: 1px solid red; */
    }
    .celda{
        text-align: center;
        width:25px;
        border:1px solid green; 
    } 
    .caja >.botones{ 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 90%;
        margin: auto;
        margin-top: 30px;
        /* border: 1px solid red; */
    }
    .textoSudoku{
        position:fixed;
        text-align: center;
        width: 250px;
        height: 200px;
        color: white;
        font-size: 1.5rem;
        margin-top: 40px;
        margin-left: 20%;
        margin: auto;
        padding: 0px;
        background-color: black;
        border: 1px solid white; 
    }
}