@media (min-width:769px) and (max-width:1500px){
.cajaAhorcado{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 50px;
    /* border: 1px solid rgb(231, 111, 111); */
}
.cajaAhorcado .miButton{
    margin-top: 50px;
    /* border: 1px solid black; */
}
.cajaAhorcado .cajaCabecera{
    width:fit-content;
    margin: auto;
    margin-top: 50px;
    padding: 0px;
    /* border: 1px solid yellow; */
}
.cajaAhorcado .cajaCabecera h1{
    display: flex;
    flex-wrap: wrap;
    font-size:7rem;
    margin-top: 0px;
    width:100%;
    margin: auto;
    /* border: 1px solid blue; */
}
.subtitulo{
    width:fit-content;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    font-size:1.4rem;  
    padding: 0px;
    color: white;
    /* border: 1px solid violet; */
}
span{
    font-size: 2rem;
    color:rgb(128, 226, 128);
}
.caja2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: auto;
    margin-top:20px;
    padding: 10px;
    gap: 10px;
    /* border: 1px solid yellow; */
}
.segundaCaja{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 55%;
    color: white;
    padding: 15px;
    border: 1px solid white;
  
}
.segundaCaja .concepto{
    width: fit-content;
    height: 100px;
    font-size: 1.2rem;
    padding: 10px;
}
.segundaCaja > p, .terceraCaja > p{
    font-size: 1.5rem;
    margin-left: 10px;
    color: white;
    width:fit-content;
    padding: 7px;
    /* border: 1px solid white; */
}
.terceraCaja{
    width: 40%;
    font-size: 1.5rem;
    justify-content: center;
    border: 1px solid white;
}
input{
    height: 40px;
    width:40px;
    margin: auto;
    text-align: center;
}
.cajaDerecha{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* border: 1px solid red; */
}
.cajaDerecha > p{
    text-align: left;
    margin-left: 10px;
    color: white;
    width: auto;
    padding: 10px;
    width: fit-content;
    /* border: 1px solid white; */
}
.segundaCaja .botones{
    width:fit-content;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
    justify-content:center;
    /* border: 1px solid red; */
}
.segundaCaja .botones input{
    padding: 1px;
    height: 30px;
}
.segundaCaja .botones .buttonButton{
    /* border: 1px solid yellow; */
    width: fit-content;
    padding: 12px;
}
.terceraCaja > .buttonButton{
    margin-left:30px;
    margin-top: 68px;
    width: fit-content;
    padding: 12px;
    /* border: 1px solid violet; */
}
.cajaAhorcado .miButton{ 
    display: flex;
    text-align: center;
    width:fit-content;
    margin-left:0px;
    margin-top:50px;
    padding: 15px;
    background-color: #3498db; /* Color de fondo azul */
    color: #fff; /* Color del texto blanco */
    border: none;
    border-radius: 10px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      background-color: #2a485c; /* Color de fondo azul más oscuro al pasar el mouse */
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave al pasar el mouse */
    }
  
    &:active {
      transform: translateY(2px); /* Efecto de hundimiento al hacer clic */
    }
  
    &:focus {
      outline: none; /* Elimina el contorno al hacer clic */
    }
    /* border: 1px solid green; */
  }

}
@media (min-width:320px) and (max-width:768px){
    .cajaAhorcado{
        width: 100%;
        height:90vh;
        /* border: 1px solid red; */
    }
    .subtitulo{
        width:80%;
        margin: auto;
        margin-top: 0px;
        font-size:0.9rem; 
        text-align: center;
        padding: 5px;
        border-radius: 7px;
        color: white;
        background-color: rgba(19, 18, 18, 0.671);
        /* border: 1px solid violet; */
    }
    .caja2{
        display: flex;
        flex-direction:column;
        justify-content:center;
        width: 95%;
        height: 50vh;
        margin: auto;
        margin-top:0px;
        padding: 0px;
        /* border: 1px solid yellow; */
    }
    .segundaCaja{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 0px;
        margin: auto;
        margin-top: 50px;
        color: white;
        /* border:1px solid blue; */
    }
    .segundaCaja > p {
        font-size: 1.1rem;
        margin-left:0px;
        color: white;
        padding: 5px;
        border-radius: 7px;
        /* border: 1px solid white; */
    }
    .terceraCaja {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-self: center;
        align-items: center;
        font-size: 0.7rem;
        margin:auto;
        margin-top: 0px;
        color: white;
        width:80%;
        height: 35vh;
        padding: 0px;
        border-radius: 7px;
        /* border: 1px solid violet; */
    }
    .terceraCaja  p{
        font-size: 0.8rem;
        width: 70%;
        margin-top: 5px;
        text-align: center;
        border-radius: 5px;
        /* border: 1px solid rgb(136, 255, 0); */
    }
    .botones > input{
        height:20px;
        margin: auto;
        margin-top: 0px;
        width: 110px;
        /* border: 1px solid green; */
    }
    .cajaDerecha{
        width: 90%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        margin: auto;
        /* border: 1px solid red; */
    }
    .cajaDerecha > p{
        text-align: left;
        margin-left: 0px;
        color: white;
        padding: 5px;
        border-radius: 7px;
        /* border:1px solid blue; */
    }
    .segundaCaja > .botones{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; 
    width:90%;
    align-items: center;
    gap: 5px;
    padding: 0px;
    margin-top:0px;
    justify-content: center;
    /* border: 1px solid red; */
    }
    .terceraCaja > .buttonButton{
        margin-left:0px;
        margin-top: 15px;
        margin: auto;
        /* border: 1px solid violet; */
    }
}