@media (min-width:769px) and (max-width:1500px){
/* .cajaAhorcado{
    height: 85vh;
    border: 1px solid red;
} */
.subtitulo{
    width:50%;
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    font-size:1.1rem;  
    font-weight: 600;
    padding: 10px;
    border-radius: 7px;
    color: white;
    background-color: rgba(19, 18, 18, 0.671);
    /* border: 1px solid violet; */
}
.caja2{
    display: flex;
    justify-content:center;
    width: 90%;
    height: 40vh;
    margin: auto;
    margin-top:20px;
    padding: 10px;
    /* border: 1px solid yellow; */
}
.segundaCaja{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 55%;
    color: white;
    /* border: 1px solid violet; */
  
}
.segundaCaja > p, .terceraCaja > p{
    font-size: 1.5rem;
    /* text-align: left; */
    margin-left: 10px;
    color: white;
    width:55%;
    padding: 7px;
    border: 1px solid white;
    border-radius: 7px;
}
.terceraCaja{
    width: 40%;
    text-align: center;
    border-radius: 5px;
    /* border: 1px solid rgb(136, 255, 0); */
}
input{
    height: 30px;
    margin: auto;
    width: 120px;
}
.cajaDerecha{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* border: 1px solid red; */
}
.cajaDerecha > p{
    text-align: left;
    margin-left: 10px;
    color: white;
    width: auto;
    padding: 5px;
    border: 1px solid white;
    border-radius: 7px;
}
.botones{
    width: 60%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
    padding: 5px;
    margin-top:0px;
    justify-content: space-around;
    /* border: 1px solid red; */
}
.terceraCaja > .buttonButton{
    margin-left:30px;
    margin-top: 50px;
    /* border: 1px solid violet; */
}

}
@media (min-width:320px) and (max-width:768px){
    .cajaAhorcado{
        height:80vh;
        /* border: 1px solid red; */
    }
    .subtitulo{
        width:95%;
        margin: auto;
        margin-top: 0px;
        font-size:0.6rem; 
        font-weight: 300;
        text-align: center;
        padding: 5px;
        border-radius: 7px;
        color: white;
        background-color: rgba(19, 18, 18, 0.671);
        /* border: 1px solid violet; */
    }
    .caja2{
        display: flex;
        flex-direction:column;
        justify-content:center;
        width: 95%;
        height: 50vh;
        margin: auto;
        margin-top:0px;
        padding: 0px;
        /* border: 1px solid yellow; */
    }
    .segundaCaja{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 90%;
        height:240px;
        margin: auto;
        padding: 0px;
        margin-top: 30px;
        color: white;
        /* border:1px solid blue; */
    }
    .segundaCaja > p {
        font-size: 1rem;
        margin-left:0px;
        color: white;
        width:70%;
        padding: 7px;
        border-radius: 7px;
        border: 1px solid white;
    }
    .terceraCaja {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-self: center;
        align-items: center;
        font-size: 0.7rem;
        margin:auto;
        margin-top: 0px;
        color: white;
        width:80%;
        height: 30vh;
        padding: 0px;
        border-radius: 7px;
        /* border: 1px solid violet; */
    }
    .terceraCaja > p{
        font-size: 1rem;
        width: 80%;
        height: 50px;
        margin-top: 5px;
        text-align: center;
        border-radius: 5px;
        border: none;
        /* border: 1px solid rgb(136, 255, 0); */
    }
    .botones > input{
        height:20px;
        margin: auto;
        margin-top: 0px;
        width: 110px;
        /* border: 1px solid green; */
    }
    .cajaDerecha{
        width: 90%;
        padding: 0px;
        display: flex;
        flex-direction: column;
        margin: auto;
        /* border: 1px solid red; */
    }
    .cajaDerecha > p{
        text-align: left;
        margin-left: 0px;
        color: white;
        width: auto;
        padding: 5px;
        border-radius: 7px;
        border:1px solid blue;
    }
    .segundaCaja > .botones{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; 
    width:50%;
    align-items: center;
    gap: 5px;
    padding: 0px;
    margin-top:0px;
    justify-content: center;
    /* border: 1px solid red; */
    }
    .terceraCaja > .buttonButton{
        margin-left:0px;
        margin-top: 15px;
        /* border: 1px solid violet; */
    }
}